.bookRow, #gridLabels {
    display: grid;
    grid-template-columns: repeat(6, 200px);
    grid-template-rows: auto;
    border-bottom: rgb(233, 233, 233) 2px solid;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

#gridLabels {
    background-color: rgb(233, 233, 233);
    font-weight: bold;
    font-size: 20px;
}

input {
    display: block;
}

form button {
    display: block;
}

.form {
    height: 300px;
    width: 200px;
    margin-top: 2%;
    padding: 20px 20px;
    border-radius: 10px;
    display: none;
}

form {
    display: flex;
    flex-direction: column;
    background-color: rgb(233, 233, 233);
    border-radius: 10px;
    padding: 10% 10%;
}

form label {
    margin-top: 5%;
}

form button {
    margin-top: 5%;
}

.container button {
    height: 30px;
    width: 125px;
    justify-self: center;
}

#addbook {
    height: 40px;
    width: 100px;
    display: inline-block;
    margin-bottom: 20px;
}